.barra-dias{
    display: flex; 
    justify-content: space-between;
    align-items: center;
    margin: 20px 20px;
    cursor: pointer;
    p{
        font-size: 16px;
    }
}

.active{
    color: #2096F7;
}

.sem-aula {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh; /* Para centralizar verticalmente na sessão */
    color: #888;
    font-size: 1.2rem;
}