.card-container {
    margin: 15px;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
    overflow: hidden;
    animation: fadeSlideUp 0.3s ease-out forwards;
    width: 100%;
    max-width: 450px;
    margin: 0 auto;
    h2{
        font-weight: 600;
        font-size: 18px;
        margin: 16px 14px 20px;
    }
    p{
        font-size: 16px;
        margin: 16px 14px 20px;
    }
    .bottom{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        background-color: #C4D238;
    }
}



