.card-duvida {
    background-color: #fff;
    border-radius: 10px;
    padding: 10px 20px;
    margin: 10px 0;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    color: #4B4B4B;
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s;
}

.card-duvida:hover {
    transform: translateY(-2px);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
}

.duvida-info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    h2{
        font-size: 22px;
        font-weight: 600;
    }
    p{
        font-size: 16px;
        font-weight: 400;
    }
}

.duvida-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.duvida-content {
    display: flex;
    flex-direction: column;
    gap: 5px;
}